[submodule "electron/extrnal-modules/NDExStore"]
	path = electron/external-modules/NDExStore
	url = git@github.com:CyComponent/NDExStore.git
[submodule "electron/extrnal-modules/NDExValetFinder"]
	path = electron/external-modules/NDExValetFinder
	url = git@github.com:CyComponent/NDExValetFinder.git
[submodule "electron/extrnal-modules/NDExPlugins"]
	path = electron/external-modules/NDExPlugins
	url = git@github.com:CyComponent/NDExPlugins.git
[submodule "electron/extrnal-modules/NDExSave"]
	path = electron/external-modules/NDExSave
	url = git@github.com:CyComponent/NDExSave.git
[submodule "electron/extrnal-modules/CyFramework"]
	path = electron/external-modules/CyFramework
	url = git@github.com:CyComponent/CyFramework.git
[submodule "electron/extrnal-modules/NDExLogin"]
	path = electron/external-modules/NDExLogin
	url = git@github.com:CyComponent/NDExLogin.git
[submodule "electron/external-modules/NDExSearchUI"]
	path = electron/external-modules/NDExSearchUI
	url = git@github.com:CyComponent/NDExSearchUI.git
